<h2> Mode de paiement </h2>
<div class="row">
  <button mat-button color="primary" (click)="toggleAdd()" cButton>Ajouter un mode paiement</button>
  <div *ngFor="let paymentMethod of paymentModes" class="col-md-4">
    <div class="card">
      <div class="card-header">
        {{ paymentMethod.name }}
        <button mat-icon-button aria-label="Edit" class="edit-button" (click)="setPaymentMode(paymentMethod)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="card-body">
        <p>Card Number: {{ paymentMethod.cardNumber }}</p>
        <p>Expiration Date: {{ paymentMethod.expirationDate | date: 'mediumDate' }}</p>
        <p>Security Code: {{ paymentMethod.securityCode }}</p>
      </div>
    </div>
  </div>
</div>

<c-modal id="liveDemoModal" [visible]="addVisible">
  <c-modal-header>
    <button (click)="toggleAdd()" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
      <mat-icon>close</mat-icon>
    </button>
  </c-modal-header>
  <c-modal-body>
    <app-payment-mode-form [currentPaymentMode]="currentPaymentMode" [userId]="userId"></app-payment-mode-form>
  </c-modal-body>
</c-modal>
