/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-size: 16px }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.category-badge{
  background-color: rgba(3, 194, 252, 0.8);
  color: white;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}
.mat-mdc-option{
  z-index: 9999;
}
