<mat-toolbar color="primary">
      <span>
        <mat-icon>store</mat-icon>
        Lulushop
      </span>
  <nav>
    <a [routerLink]="'products'" mat-button> Produits</a>
    <a [routerLink]="'categories'" mat-button> Categories</a>

  </nav>
  <span class="spacer"></span>

    <button mat-icon-button [routerLink]="'user/signup'">
      <mat-icon>person</mat-icon>
    </button>
  <button mat-icon-button routerLink="/panier">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
