<mat-toolbar color="primary">
      <span [routerLink]="'/luluyshop'">
        <mat-icon>store</mat-icon>
        Lulushop
      </span>
  <nav>
    <a [routerLink]="'products'" mat-button> Produits</a>
    <a [routerLink]="'categories'" mat-button> Categories</a>

  </nav>
  <span class="spacer"></span>

    <button mat-icon-button [routerLink]="getLink()">
      <mat-icon>person</mat-icon>
    </button>
    <button [matBadge]="countProduct" matBadgeColor="warn" mat-icon-button [routerLink]="'cart'">
      <mat-icon>shopping_cart</mat-icon>
    </button>

</mat-toolbar>
<router-outlet></router-outlet>
